.linkrow{
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: flex;
}

.linkitem{
    width: 75px;
}

i{
    font-size: 30px;
    color: black;
}