.navbar{
    display: flex;
    flex-direction: row;
}

.navbar-title{
    margin-top: -10px;
    margin-left: 50px;
    font-size: 20px;
}
.nav-title{
    text-decoration: none;
    color: black;
}

.navbar-navigation{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-right: 150px;
}

.nav-link{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}